<div id="layout">
    <header>
        <b:section id="Header" showaddelement='yes'>
            @htmlinclude('components/header/header.html')
        </b:section>
    </header>
    <navigation>
        <b:section id="Navigation" showaddelement='no'>
            @htmlinclude('components/navigation/navigation.html')
        </b:section>
    </navigation>
    <posts>
        <b:section id="Posts" showaddelement='no'>
            @htmlinclude('components/posts/posts.html')
        </b:section>
    </posts>
</div>