<b:section id='header2' showaddelement='yes'>
    <b:widget id='Header1' locked='false' title='Charlie Lou (Header)' type='Header' visible='true'>
        <b:includable id='main'>
            <div class="title">
                <b:if cond='data:useImage'>
                    <div class="title-image">
                        <img expr:alt='data:title' expr:height='data:height'
                             expr:id='data:widget.instanceId + &quot;_headerimg&quot;'
                             expr:src='data:sourceUrl' class="img-fluid"/>
                    </div>
                    <b:else/>
                    <div class="title-text">
                        <b:include name='title'/>
                    </div>
                </b:if>
            </div>
        </b:includable>
    </b:widget>
</b:section>