<div class='post'>
    <div class='post-heading'>
        <h2>
            <data:post.title/>
        </h2>
        <div class="text-muted">
            <data:post.dateHeader/>
        </div>
    </div>
    <div class='m-t-3'>
        <p>
            <data:post.body/>
        </p>
        <span class='link_pages'/>
        <div class='post-tags'>
            <b:loop values='data:post.labels' var='label'>
                <a expr:href='data:label.url' rel='tag'>
                    <data:label.name/>
                </a>
                <b:if cond='data:label.isLast != &quot;true&quot;'>,</b:if>
            </b:loop>
        </div>
    </div>
</div>